---
const {
	title = 'ReCraftr',
	description = 'ReCraftr: Turn your blog posts into LinkedIn Carousels',
	canonical = undefined,
	image = undefined,
} = Astro.props;
const defaultImage = '/assets/mesh-gradient.jpg';
import HeaderScripts from '../components/HeaderScripts.astro';
import '../styles/recrftvar.css'
import '../styles/tailwindrecraftr.css'
---
<HeaderScripts />
<meta charset="UTF-8" />
<meta name="description" content={description} />
<meta property="og:description" content={description} />
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="robots" content="index,follow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
{canonical && <link rel="canonical" href={canonical} />}
<meta property="og:image" content={image ?? defaultImage} />
<meta name="twitter:image" content={image ?? defaultImage} />
<link rel="icon" type="image/x-icon" href="/favicon_io/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
<link rel="manifest" href="/favicon_io/site.webmanifest">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://cdn.fontshare.com" crossorigin="anonymous">
<link rel="stylesheet" href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@800,500,700,800&amp;display=swap">